<span usefixed为真 >
	<div>
		<table>
			<colgroup></colgroup>
			<head></head>
		</table>
	</div>
	<div 主tableBody>
		<table>
			<colgroup></colgrop>
			<body></body>
		</table>
	</div>
	/----------------/
	<div 左/右固定>
		<div>
			<table>
				<colgroup></colgrop>
				<body></body>
			</table>
		</div>
	</div>
</span>


<span usefixed 为假 >
	<div 主tableBody>
		<colgrop></colgroup>
		<head></head>
		<body></body>
	</div>
	<div 左/右固定>
		<div>
			<colgrop></colgroup>
			<head></head>
			<body></body>
		</div>
	</div>
</span>
